.first {
  background-color: rgba(135, 197, 42, 0.836);
  height: 80vh;
  padding-top: 1em;
}

.jumbo {
  background: url("/assets/imgs/communication-3.jpg") no-repeat;
  background-size: 100% 100%;
  height: 100%;
  z-index: -2;
}
.row {
}
.jumbotron-text {
  padding: 0.5rem;
  color: white;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  word-wrap: break-word;
}
.jumbotron-header {
  padding: 0.5rem;
  font-size: 3rem;
  line-height: inherit;
}
.green {
  background-color: green;
}
.second {
  padding-left: 0%;
  padding-right: 0%;
}
.third {
  margin-right: 0;
  margin-left: 0;
}
.fourth {
  display: flex;
  justify-content: center;
  align-items: center;
}

.a-nav {
  background-color: #13dd78;
}

.c-nav {
  background-color: #0ba024;
}
.sixth {
  /* margin-top: -9rem; */
}
.card-out,
.card-outer {
  border: none;
  padding-bottom: 0;
}
/* .card-out,
.card-outer {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(196, 192, 196, 0.46);
  -moz-box-shadow: 10px 10px 5px 0px rgba(196, 192, 196, 0.46);
  box-shadow: 10px 10px 5px 0px rgba(196, 192, 196, 0.46);
} */
.card-out:hover,
.card-outer:hover {
  -webkit-box-shadow: 0px 1px 11px 4px rgba(196, 192, 196, 0.46);
  -moz-box-shadow: 0px 1px 11px 4px rgba(196, 192, 196, 0.46);
  box-shadow: 0px 1px 11px 4px rgba(196, 192, 196, 0.46);
}
header {
  position: relative;
  height: 65vh;
  background-image: linear-gradient(#13dd78, #0ba024);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 5vw));
  /* change the calc height to a percentage height to get alternate responsive behavior*/
}

h1 {
  margin: 0;
  padding: 100px 0;
  font: 44px "Arial";

  text-align: center;
}

section {
  /* margin-top: -5vw; */
  /* background-image: linear-gradient(135deg, #777, #111); */
}
.h3 {
  font-size: 320px;
}

.test {
  background-color: white;
  width: 100%;
  height: 300px;
  z-index: 10;
  position: relative;
}
.card-header {
  padding: 0rem 1rem;
  padding-top: 0.8rem;
  background-color: white;
  border-bottom: none;
}
.card-body {
  padding: 0rem 1rem;
  padding-bottom: 0.7rem;
}
.card-outer {
  min-width: 40%;
  margin-bottom: 0.9rem !important;
}
.contact {
  border-radius: 5px;
  border: 1px solid green;
  width: 100%;
  display: flex;
  margin-bottom: 3em;
  flex-direction: row;
}
.contact-block-a,
.contact-block-b {
}
.contact-block-a {
  height: 100%;
  padding: 1rem;
}
.contact-block-b {
  padding: 1rem;

  border-left: green 1px solid;
}
.fp-icon-box-5 {
  padding-bottom: 0.5em;
  border-bottom: 1px solid #f7f7f7;
  margin-right: 40px;
  margin-bottom: 1rem;
}
.svg-inline--fa {
  color: green;
}
.textarea {
  height: 8rem !important;
}
.footer-container {
  justify-content: flex-end !important;
}
@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    max-width: none;
  }
  header {
    height: 80vh;
  }
  .logoa {
    display: none;
  }
  .c-image {
    width: 100%;
    height: 22em !important;
  }
}
.logo-image {
  height: 100%;
  width: 2.5em;
  margin-left: 2em;
}
.navbar-brand {
  color: rgba(0, 0, 0, 0.5) !important;
}
.c-image {
  width: 100%;
  height: 25em;
}
.carousel-caption {
  word-wrap: break-word;
}
