.a-nav {
  background-color: #0c5a0cd2;
  /* background-color: rgba(255, 255, 255, 0.15); */
  backdrop-filter: blur(5px);
}

#root {
  /* background-color: #f5f5f5; */
  /* background-color: #c3dbcf; */
  min-height: 100vh;
}

/* 
background-color: #f4f4f4; */

.c-image {
  width: 70vw;
  border-radius: 0.2em;
  height: 45vw !important;
}

.header {
  color: #0c5a0cd2;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1400px;
  }
  .image-col {
    padding-left: 0;
    padding-right: 0;
  }
}

/* .fifth {
  max-width: 85%;
} */

.fifth,
.sixth {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.image-col {
  width: 100%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.jumbotron-text {
  padding: 0.5rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  word-wrap: break-word;
  color: #0c5a0cd2;
}

.jumbotron-header {
  padding: 0.5rem;
  font-size: 3rem;
  line-height: inherit;
}

.logo {
  width: 5em;
  height: 5em;
}

.sixth {
  margin-top: 1em;
  border-radius: 1em;
  min-height: 60vh;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.sixth > .col {
  border-right: white 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sixth > .first {
  color: #0c5a0cd2;
  background: white;
  position: relative;
  display: flex;
  align-items: center;
  min-height: 30vh;
  justify-content: center;
  flex-direction: column;
}

.sixth > .second {
  background-color: #0c5a0cd2;
  color: white;
  display: flex;
  align-items: center;
  font-size: 1.2em;
  padding: 0.2em;
  justify-content: center;
  flex-direction: column;
}

.mission-head {
  text-align: center;
  color: #0c5a0cd2;
}

.bottom {
  height: 80%;
}

.services {
  min-height: 10em;
  margin-bottom: 1.5em;
}

.service-image {
  width: 100%;
  border-radius: 0.4em;
}

.services:hover .service-image {
  -webkit-filter: brightness(70%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  cursor: pointer;
  transform: scale(0.97);
  transition: transform 0.2s;
}

.third {
  margin-top: 1.5em;
}
.top {
  position: relative;
  margin-bottom: 20px;
  padding-left: 20px;

  color: #393939;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 1em;
  margin-top: 0;
  text-transform: capitalize;
}

.services:hover .top {
  color: #0c5a0cd2;
  cursor: pointer;
}
.client-image-cont {
  float: left;
  width: 32%;
  padding: 0 10px;
  text-align: center;
  margin-bottom: 2em;
}

/* Remove extra left and right margins, due to padding in columns */
.client-div {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.client-div:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */

.client-image {
  width: 150px;
  height: 150px;
}

.top:before {
  content: "";
  width: 3px;
  height: 40px;
  background-color: #0c5a0cd2;
  position: absolute;
  left: 0;
  top: 0;
}

.footer-nav {
  background-color: #0c5a0cd2;
  min-height: 30vh;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
}
.footer-row {
  width: 100%;
}

.footer-b {
  padding-bottom: 1em;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}
.ule {
  list-style: none;
  margin-top: 0.5em;
}
.lain {
  display: flex;
  justify-content: center;
  align-self: flex-end;
  margin-top: 1em;
  bottom: 1em;
  width: 100%;
  text-align: center;
}

.footer-c {
  padding-right: 0.5em;
  padding-left: 0.5em;

  line-height: 1.2em;
  color: #eee;
}
.eada {
  border-right: white 1px solid;
}
/* .lom {
  border-bottom: white 1px solid;
} */
.lom:hover {
  text-decoration: none;
  font-size: 1.1em;
  font-weight: bold;
}

.footer-c.last {
  border-right: none !important;
}

.contact-image-div {
  display: flex;
  width: 100%;
  min-height: 70vh;
  justify-content: center;
  align-items: center;
}

.contact-image {
  border-radius: 1em;
  width: 100%;
}

.logo-image {
  width: 40px !important;
  height: 40px !important;
  margin-left: 2em;
  margin-right: 1em;
}

.service-page-image {
  width: 50%;
  padding: 0.3em;
  border-radius: 0.5em;
}

.service-head {
  text-align: center;
  color: #0c5a0cd2;
}

.contact-block-a {
  border-right: #0c5a0cd2 2px solid;
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: none !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .row {
    margin-right: 0;
    margin-left: 0;
  }

  .fifth {
    /* max-width: 100% !important; */
    min-height: 40vh;
  }
  .c-image {
    min-height: 40vh;
  }
  .carousel-caption > h3 {
    font-size: 1.1em !important;
  }
  .contact-image-div {
    min-height: 40vh;
  }
  .navbar .container-fluid {
    flex-wrap: nowrap;
    line-height: 1em;
  }
  .first,
  .second {
    min-height: 35vh !important;
    /* padding-left: 0;
    padding-right: 0; */
  }

  .contact-block-a {
    border-right: none;
    border-bottom: #0c5a0cd2 2px solid;
    margin-bottom: 0.5em;
  }
  .service-page-image {
    width: 100%;
  }
  .service-head {
    word-wrap: break-word;
  }
  .logo-image {
    margin-left: 0;
  }
  .asae {
    text-align: center;
    margin-bottom: 1em;
  }

  .asae p {
    margin-bottom: 1.1em !important;
  }
  .asae.b {
    margin-top: 1.7em;
  }

  .eada {
    border-right: none !important;
    border-bottom: white 1px solid;
  }
  .red {
    font-size: 1.3em !important;
  }
  /* Float four columns side by side */
  .client-image-cont {
    float: left;
    width: 32%;
    padding: 0 10px;
    text-align: center;
    /* margin-bottom: 2em; */
  }

  /* Remove extra left and right margins, due to padding in columns */
  .client-div {
    margin: 0 -5px;
  }

  /* Clear floats after the columns */
  .client-div:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Style the counter cards */

  .client-image {
    width: 5.5em;
    height: 5.5em;
  }
}
.client-paper {
  width: 100%;
}
/* .client-div {
  display: flex;
} */
/* .client-div::-webkit-scrollbar {
  display: none;
} */

/* Float four columns side by side */

/* .client-div {
  display: flex;
  overflow-y: hidden;
  padding-bottom: 0;
  overflow: auto;
  flex: 1;
  white-space: wrap;
  justify-content: space-between;

  width: 100%;
}
.client-div::-webkit-scrollbar {
  display: none;
}
.client-image {
  width: 150px;
  height: 150px;
} */
/* .wassap-link,
.wassap-image {
  width: 50px;
  height: 50px;
}
.wassap-link {
  position: absolute;
  bottom: 5px;
  right: 5px;
} */
.asae a {
  margin-bottom: 0.8em;
  display: block;
}
.asae.b {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
